## Step 1. Import Dataset

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('./data/train.csv')
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
data = pd.read_csv('./data/train.csv', index_col='Id')
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Step 2. Data Preprocessing
### 2.1. Feature Selection

- Data Preprocessing: just filter the data which used and process data to be can use in Model Machine Learning
    * Select Features, (Done)
    * Data Imputation (Missing Data Replacing), (Done)
    * Encode Categorical Data,
    
- Splitting X, y

- Splitting X_train, y_train, X_test, y_test

- Feature Scaling

- Training Model

- Model Evaluation

In [11]:
# Use Feature Engineering to select features
features = ["LotArea", "Street", "YearBuilt", "HouseStyle", "Electrical", "1stFlrSF", "2ndFlrSF",
            "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]
data = data[features]
data

,LotArea,Street,YearBuilt,HouseStyle,Electrical,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,,,,
1,8450,Pave,2003,2Story,SBrkr,856,854,2,3,8
2,9600,Pave,1976,1Story,SBrkr,1262,0,2,3,6
3,11250,Pave,2001,2Story,SBrkr,920,866,2,3,6
4,9550,Pave,1915,2Story,SBrkr,961,756,1,3,7
5,14260,Pave,2000,2Story,SBrkr,1145,1053,2,4,9
...,...,...,...,...,...,...,...,...,...,...
1456,7917,Pave,1999,2Story,SBrkr,953,694,2,3,7
1457,13175,Pave,1978,1Story,SBrkr,2073,0,2,3,7
1458,9042,Pave,1941,2Story,SBrkr,1188,1152,2,4,9
1459,9717,Pave,1950,1Story,FuseA,1078,0,1,2,5
1460,9937,Pave,1965,1Story,SBrkr,1256,0,1,3,6

### 2.2. Data Imputation (Missing Data Replacement)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   Street        1460 non-null   object
 2   YearBuilt     1460 non-null   int64
 3   HouseStyle    1460 non-null   object
 4   Electrical    1459 non-null   object
 5   1stFlrSF      1460 non-null   int64
 6   2ndFlrSF      1460 non-null   int64
 7   FullBath      1460 non-null   int64
 8   BedroomAbvGr  1460 non-null   int64
 9   TotRmsAbvGrd  1460 non-null   int64
dtypes: int64(7), object(3)
memory usage: 125.5+ KB

In [17]:
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = data.select_dtypes(include=['object']).columns
numerical_columns, categorical_columns

(Index(['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath',
        'BedroomAbvGr', 'TotRmsAbvGrd'],
       dtype='object'),
 Index(['Street', 'HouseStyle', 'Electrical'], dtype='object'))

In [22]:
from sklearn.impute import SimpleImputer

numerical_imputer = SimpleImputer(strategy='mean')
data[numerical_columns] = numerical_imputer.fit_transform(data[numerical_columns])

categorical_imputer = SimpleImputer(strategy='most_frequent')
data[categorical_columns] = categorical_imputer.fit_transform(data[categorical_columns])

data.isnull().sum()

LotArea         0
Street          0
YearBuilt       0
HouseStyle      0
Electrical      0
1stFlrSF        0
2ndFlrSF        0
FullBath        0
BedroomAbvGr    0
TotRmsAbvGrd    0
dtype: int64

### 2.3. Encode Categorical Data

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder


ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder="passthrough")
X = ct.fit_transform(X)
categorical_columns

ct = ColumnTransformer(transformers=[])


data =

In [12]:
# data.info()

# Caculate and Visualize the missing data
missing_data = data.isna().sum()
missing_percent = (missing_data / len(data)) * 100

missing_data, missing_percent
# missing_df = missing_percent.reset_index()
# missing_df.columns = ['Feature', 'MissingPercent']

# missing_df = missing_df.sort_values(by='MissingPercent', ascending=False)

# plt.figure(figsize=(10, 6))
# sns.barplot(x='MissingPercent', y='Feature', data=missing_df, palette='pastel')
# plt.title('Missing Data Percentage by Feature', fontsize=16)
# plt.xlabel('Missing Data Percentage', fontsize=12)
# plt.ylabel('Features', fontsize=12)

(LotArea         0
 Street          0
 YearBuilt       0
 HouseStyle      0
 Electrical      1
 1stFlrSF        0
 2ndFlrSF        0
 FullBath        0
 BedroomAbvGr    0
 TotRmsAbvGrd    0
 dtype: int64,
 LotArea         0.000000
 Street          0.000000
 YearBuilt       0.000000
 HouseStyle      0.000000
 Electrical      0.068493
 1stFlrSF        0.000000
 2ndFlrSF        0.000000
 FullBath        0.000000
 BedroomAbvGr    0.000000
 TotRmsAbvGrd    0.000000
 dtype: float64)

In [13]:
# Encode Independent Variables (X)
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

categorical_columns = data.select_dtypes(include=['float64']).columns
categorical_columns
# ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder), [0]], remainder="passthrough")

Index([], dtype='object')

#### X,y → X_train, y_train, X_valid, y_valid

In [113]:
from sklearn.model_selection import train_test_split

# random_sate ~ seed()
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [116]:
X_train.shape, X.shape, data.shape, X_valid.shape

((1168, 22), (1460, 22), (1460, 75), (292, 22))

In [87]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [90]:
# y_preds = dt_model.predict(X_valid)

In [95]:
mae = mean_absolute_error(y_valid, rf_val_preds)
mse = mean_squared_error(y_valid, rf_val_preds)
rmse = np.sqrt(mse)
r2 = r2_score(y_valid, rf_val_preds)
mape = np.mean(np.abs((y_valid - rf_val_preds)/y_valid)) * 100

In [96]:
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R²): {r2}")
print(f"Mean Absolute Percentage Error (MAPE): {mape}%")

Mean Absolute Error (MAE): 24069.385498858446
Mean Squared Error (MSE): 1489870679.523267
Root Mean Squared Error (RMSE): 38598.84298166549
R-squared (R²): 0.7842596223072973
Mean Absolute Percentage Error (MAPE): 13.438752377495375%