## Step 1. Import Dataset

In [139]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [140]:
data = pd.read_csv('./data/train.csv')
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [141]:
data = pd.read_csv('./data/train.csv', index_col='Id')
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Step 2. Data Preprocessing
### 2.1. Data Imputation (Missing Data Replacement)

In [153]:
# data.info()

# Caculate and Visualize the missing data
missing_data = data.isna().sum()
missing_percent = (missing_data / len(data)) * 100

missing_data, missing_percent
# missing_df = missing_percent.reset_index()
# missing_df.columns = ['Feature', 'MissingPercent']

# missing_df = missing_df.sort_values(by='MissingPercent', ascending=False)

# plt.figure(figsize=(10, 6))
# sns.barplot(x='MissingPercent', y='Feature', data=missing_df, palette='pastel')
# plt.title('Missing Data Percentage by Feature', fontsize=16)
# plt.xlabel('Missing Data Percentage', fontsize=12)
# plt.ylabel('Features', fontsize=12)

(MSSubClass         0
 MSZoning           0
 LotFrontage      259
 LotArea            0
 Street             0
                 ...
 MoSold             0
 YrSold             0
 SaleType           0
 SaleCondition      0
 SalePrice          0
 Length: 80, dtype: int64,
 MSSubClass        0.000000
 MSZoning          0.000000
 LotFrontage      17.739726
 LotArea           0.000000
 Street            0.000000
                    ...
 MoSold            0.000000
 YrSold            0.000000
 SaleType          0.000000
 SaleCondition     0.000000
 SalePrice         0.000000
 Length: 80, dtype: float64)

In [138]:
# Encode Independent Variables (X)
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

categorical_columns = data.select_dtypes(include=['float64']).columns
categorical_columns
# ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder), [0]], remainder="passthrough")

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

#### X,y â†’ X_train, y_train, X_valid, y_valid

In [113]:
from sklearn.model_selection import train_test_split

# random_sate ~ seed()
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [116]:
X_train.shape, X.shape, data.shape, X_valid.shape

((1168, 22), (1460, 22), (1460, 75), (292, 22))

In [87]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [90]:
# y_preds = dt_model.predict(X_valid)

In [95]:
mae = mean_absolute_error(y_valid, rf_val_preds)
mse = mean_squared_error(y_valid, rf_val_preds)
rmse = np.sqrt(mse)
r2 = r2_score(y_valid, rf_val_preds)
mape = np.mean(np.abs((y_valid - rf_val_preds)/y_valid)) * 100

In [96]:
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (RÂ²): {r2}")
print(f"Mean Absolute Percentage Error (MAPE): {mape}%")

Mean Absolute Error (MAE): 24069.385498858446
Mean Squared Error (MSE): 1489870679.523267
Root Mean Squared Error (RMSE): 38598.84298166549
R-squared (RÂ²): 0.7842596223072973
Mean Absolute Percentage Error (MAPE): 13.438752377495375%